.avatar {
  width: 30px;
  height: 30px;
  border-radius: $circle-border-radius;
}
.avatar-large {
  width: 50px;
  border-radius: $circle-border-radius;
}
.avatar-bordered {
  width: 30px;
  border-radius: $circle-border-radius;
  box-shadow: $avatar-box-shadow;
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: $avatar-box-shadow;
  border: white 1px solid;
}


