.footer {
  background-color: rgba(0,0,0,0.85);
  padding: 30px;
  color: white;
  margin-top: 15px;

  .fa {
    width: 30px;
    font-size: 25px;
    margin: 10px 20px 20px 0px;
    color: rgba(255,255,255,0.6);
  }

  .fa:hover {
    color: rgba(255,255,255,1);
  }

  p {
    color: rgba(255,255,255,0.6);
  }

  .text-airbnb {
    padding: 20px;
    text-align: right;
  }
}
